Button {
    color: #262626;
}
#rosa {
    border-color: #262626;
    border-radius: 8px;
    padding: 5px 30px 5px 30px;
    background-color: snow;
    margin: 10px 0px 10px 0px;
}
#azul {
    border-color: #262626;
    border-radius: 8px;
    padding: 5px 30px 5px 30px;
    background-color: snow;
    margin: 10px 0px 10px 0px;
}
#cinza {
    border-color: #262626;
    border-radius: 8px;
    padding: 5px 30px 5px 30px;
    background-color: snow;
    margin: 10px 0px 10px 0px;
}