.App {
  height: 100vh;
  align-self: auto;

  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.App-header {
  border: solid;
  border-color: #262626;
  border-width: 3px;
  order: 1;
}
.App-footer {
  font-family: Roboto;
  font-weight: bold;
  text-align: center;

  order: 3;
  border: solid;
}
#conteudo {
  flex-grow: 1;
  order: 2;
  display: flex;
  justify-content: center;

  border: solid;
  border-color: #262626;
  border-width: 2px;
  border-top-width: 0ch;
  border-bottom-width: 0ch;
}
#buttons {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

